::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--color-neutral-3);
}
::-webkit-scrollbar-thumb {
  background: var(--color-neutral-8);

  &:hover {
    background: var(--color-neutral-9);
  }
}

::selection {
  color: white;
  background: var(--color-primary-9);
}

body {
  @apply bg-neutral-1 text-neutral-12;
  @apply font-sans;
}
